
.container:before {
    content: '';
    display: inline-block;
    height: 25%;
}

.container:after {
    content: '';
    display: inline-block;
    height: 25%;
}


.container {
	margin: auto;
	width: 800px;
	height: 500px;
}

.top-row {
	height: 200px;
}

.bottom-row {	
	height: 300px;
}
.item-1, .item-2, .item-3, .item-4, .item-5 {
	display: inline-block;
	height: 100%;
}
.item-1 {
	width: 50%;
	background-color: yellow;
}

.item-2 {
	width: 50%;
	background-color: grey;
}

.item-3, .item-4, .item-5 {
		width: 33.33%;
}


.item-3 {
	background-color: green;
}

.item-4 {
	background-color: blue;
}


.item-5 {
	background-color: BurlyWood;
}