body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 350px;
  padding: 10px;
}
.float-left {
  float: left;
  
}

.float-right {
  float: right;
}


